<div class="centered-content">
    <div class="modal-box">
        <div class="title">
            Criar nova tarefa
        </div>
        <div class="field is-grouped">
            <p class="control is-expanded">
              <input #taskTitleInput class="input has-background-light" type="text" placeholder="Digite o nome da sua tarefa">
            </p>
            <p class="control">
              <a class="button is-info" (click)="createTask(taskTitleInput.value)">
                Feito =)
              </a>
            </p>
          </div>
          <button routerLink="/" class="button" style="margin-top: 20px;" > Voltar </button>
    </div>
</div>
