<body>
  <div class="container">
    <div class="leaderboard">
      <div class="head">
        <i class="fas fa-crown"></i>
        <h1>Usuários com mais tarefas completas</h1>
      </div>
      <div class="body">
        <ol>
          <li>
            <mark>Lucas Panão</mark>
            <small>22</small>
          </li>
          <li>
            <mark>Rafael Gomide</mark>
            <small>17</small>
          </li>
          <li>
            <mark>Isabella</mark>
            <small>9</small>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="leaderboard">
      <div class="head">
        <i class="fas fa-crown"></i>
        <h1>Usuários com mais listas criadas</h1>
      </div>
      <div class="body">
        <ol>
          <li>
            <mark>Rafael Gomide</mark>
            <small>10</small>
          </li>
          <li>
            <mark>Lucas Panão</mark>
            <small>5</small>
          </li>
          <li>
            <mark>Isabella</mark>
            <small>1</small>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="leaderboard">
      <div class="head">
        <i class="fas fa-crown"></i>
        <h1>Usuários com mais tarefas criadas</h1>
      </div>
      <div class="body">
        <ol>
          <li>
            <mark>Lucas Panão</mark>
            <small>40</small>
          </li>
          <li>
            <mark>Rafael Gomide</mark>
            <small>20</small>
          </li>
          <li>
            <mark>Isabella</mark>
            <small>10</small>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <button routerLink="/" class="button" style="margin: 20px;" > Voltar </button>
</body>
